/////////////////////////////
////////// Colors ///////////
/////////////////////////////
$color-base: #f0f8f8
$color-text: #251c24


/////////////////////////////
////// Media-queries ////////
/////////////////////////////

$screen-sm-min: 768px
$screen-md-min: 992px


/////////////////////////////
//////// Font-size //////////
/////////////////////////////

$font-size-global: 1.25em


/////////////////////////////
///////// Z-index ///////////
/////////////////////////////

$z-index-overlay: 50
$z-index-team: 100
$z-index-member-active: 150
