.button
  background-color: $color-text-blue !important
  border: 0 !important
  color: #FCFCFC !important
  padding: 15px 20px
  text-transform: uppercase
  font-family: $font-family-base
  font-size: 1rem
