//.contener-head
  position: absolute
  padding: 25px
  width: 100%
  background-color: #fff
  height: 80px

header
  background: #fff
  height: 40px
  position: fixed
  top: 0
  transition: top 0.2s ease-in-out
  width: 100%
  z-index: 9999


.menu
  //position: absolute
  //z-index: 9999
  display: inline-block
  width: 100%

  ul li
    display: inline-block
    padding: 5px 15px

  ul li a
    text-decoration: none
    color: #278589

.nav-up
  top: -40px



// Menu
#home
  height: 850px
  background: url('images/home_afrique.png') no-repeat center
  -webkit-background-size: cover
  background-size: cover

// Début du content


// Block don



// Block projet




// Block objectifs

